body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
}

table.form {

}

tr.form{

}

table.list {
    margin: auto;
    border: 1px solid #120dff;
    border-collapse: collapse;
    width: 90%;
}

caption.list{
    caption-side: top;
    text-align: left;
    padding: 10px 0;
    font-size: 20px;
}

th {
    background: #6aa2ff;
}

tr.normal {
    vertical-align: top;
    text-align: center;
    color: #11ff37;
}

tr.exceed {
    vertical-align: top;
    text-align: center;
    color: red;
}

.error {
    color: red;
}

.edit {
    color: red;
}

.add {
    color: green;
}
